/* My Own CSS
by Mochamad Putera Pamungkas */

/*Reset CSS */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #333;
}

/*Container global */
.container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-areas:
    "content content content"
    "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
}

/* Navbar */
.nav-background {
  background-color: rgb(27, 27, 27);
  position: fixed;
  left: 0;
  right: 0;

  .nav-container {
    width: 1020px;
    margin: auto;

    .menu {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      padding: 15px;
      box-sizing: border-box;

      .brand {
        font-family: "Nunito", sans-serif;
        color: #fff;
      }

      .menu-list {
        display: flex;
        justify-content: flex-end;
        list-style: none;

        a {
          font-family: "Nunito", sans-serif;
          text-decoration: none;
          color: #fff;
          margin-left: 30px;
          display: block;
          text-align: end;
        }
      }
    }
  }
}

/* Content */
.content {
  grid-area: content;
  text-align: center;

  .img {
    margin-top: 170px;
    overflow: hidden;

    img {
      width: 200px;
      height: 200px;
      border-radius: 100px;
    }
  }

  .text-content {
    color: #fff;
    font-family: "Nunito", sans-serif;
    margin-top: 15px;

    h2:nth-child(1) {
      font-size: 2em;
    }

    h2:nth-child(2) {
      font-size: 1em;
    }

    .sosmed {
      margin-top: 10px;

      li {
        display: inline;
        margin: 10px;

        .fw-color {
          color: #fff;
        }
      }
    }
  }
}

/* footer */
footer {
  grid-area: footer;
  margin-top: 30px;
  text-align: center;
  padding: 20px;
  font-family: "Roboto Mono", monospace;
  color: #fff;
}

/* Responsive Breakpoint */
@media screen and (max-width: 600px) {
  .content {
    grid-template-areas:
      "content"
      "footer";
  }
}
