* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome/fa-brands-400.eot");
  src: url("../fonts/fontawesome/fa-brands-400.eot") format("embedded-opentype"), url("../fonts/fontawesome/fa-brands-400.ttf") format("truetype"), url("../fonts/fontawesome/fa-brands-400.woff") format("woff"), url("../fonts/fontawesome/fa-brands-400.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

body {
  font-family: 'Montserrat';
  color: #fff;
}

.container {
  max-width: 1000px;
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  margin: auto;
}

#navbar {
  --navbar-height: 64px;
  position: fixed;
  height: var(--navbar-height);
  background-color: #161A21;
  left: 0;
  right: 0;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

.navbar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-item {
  margin: 0.4em;
  width: 100%;
}

.home-link, .navbar-link {
  color: #fff;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.home-link:focus, .home-link:hover {
  color: #ddd;
}

.navbar-link {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0.4em 0.8em;
  border-radius: 5px;
}

.navbar-link:focus, .navbar-link:hover {
  color: #ddd;
  background-color: #0B0F15;
}

.navbar-toggle {
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  outline: none;
}

.icon-bar {
  display: block;
  width: 25px;
  height: 4px;
  margin: 2px;
  -webkit-transition: background-color 0.2s, opacity 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s, opacity 0.2s, -webkit-transform 0.2s;
  transition: background-color 0.2s, transform 0.2s, opacity 0.2s;
  transition: background-color 0.2s, transform 0.2s, opacity 0.2s, -webkit-transform 0.2s;
  background-color: #fff;
}

.navbar-toggle:focus .icon-bar,
.navbar-toggle:hover .icon-bar {
  background-color: #fff;
}

#navbar.opened .navbar-toggle .icon-bar:first-child,
#navbar.opened .navbar-toggle .icon-bar:last-child {
  position: absolute;
  margin: 0;
  width: 30px;
}

#navbar.opened .navbar-toggle .icon-bar:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#navbar.opened .navbar-toggle .icon-bar:nth-child(2) {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#navbar.opened .navbar-toggle .icon-bar:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar-menu {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  -webkit-transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  opacity: 0;
  visibility: hidden;
  left: 0;
  right: 0;
}

#navbar.opened .navbar-menu {
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
  visibility: visible;
}

.navbar-links {
  list-style-type: none;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  background-color: #161A21;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 0;
  right: 0;
  margin: 1.4rem;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#navbar.opened .navbar-links {
  padding: 1em;
  max-height: none;
}

#hero-parrent {
  height: 561px;
  background-color: #0B0F15;
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hexagon {
  position: relative;
}

.welcometxt {
  position: absolute;
  font-family: 'Nunito';
  color: #fff;
  margin-left: 10px;
  font-size: 1.9em;
}

#abouts {
  height: 600px;
  background-color: #1B1E22;
}

.about-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  overflow: hidden;
}

.profile img {
  width: 100%;
}

.me {
  margin-top: -90px;
}

.me > h2 {
  font-family: 'Nunito';
  font-size: 2em;
  margin-bottom: 15px;
}

.me > p {
  line-height: 30px;
  font-family: 'Nunito';
}

.me .resume {
  display: block;
  width: 169px;
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: #4C86B0;
  font-family: 'Nunito';
  color: #fff;
  font-size: 1.4em;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.me .resume:focus, .me .resume:hover {
  background-color: #315E80;
  color: #ECECEC;
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.me .a {
  font-family: "FontAwesome";
  font-size: 35px;
  line-height: 50px;
  speak: none;
  color: #5D5D5D;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 5px;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin-right: 10px;
  margin-top: 10px;
}

.me .a:before,
.me .a:after {
  -webkit-transition: all .3s;
  transition: all .3s;
}

.me .a.dribbble {
  background-color: #eaeaea;
}

.me .a.dribbble:before, .me .a.dribbble:after {
  content: "\f17d";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.me .a.dribbble:before {
  top: 0;
}

.me .a.dribbble:after {
  top: 100%;
  color: #fff;
}

.me .a.dribbble:hover {
  background-color: #ea4c89;
}

.me .a.dribbble:hover:after {
  top: 0;
}

.me .a.dribbble:hover:before {
  top: -100%;
}

.me .a.github {
  background-color: #eaeaea;
}

.me .a.github:before, .me .a.github:after {
  content: "\f09b";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.me .a.github:before {
  top: 0;
}

.me .a.github:after {
  top: 100%;
  color: #fff;
}

.me .a.github:hover {
  background-color: #6a737d;
}

.me .a.github:hover:after {
  top: 0;
}

.me .a.github:hover:before {
  top: -100%;
}

.me .a.instagram {
  background-color: #eaeaea;
}

.me .a.instagram:before, .me .a.instagram:after {
  content: "\f16d";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.me .a.instagram:before {
  top: 0;
}

.me .a.instagram:after {
  top: 100%;
  color: #fff;
}

.me .a.instagram:hover {
  background-color: #ea4c89;
}

.me .a.instagram:hover:after {
  top: 0;
}

.me .a.instagram:hover:before {
  top: -100%;
}

.me .a.twitter {
  background-color: #eaeaea;
}

.me .a.twitter:before, .me .a.twitter:after {
  content: "\f099";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
}

.me .a.twitter:before {
  top: 0;
}

.me .a.twitter:after {
  top: 100%;
  color: #fff;
}

.me .a.twitter:hover {
  background-color: #1DA1F2;
}

.me .a.twitter:hover:after {
  top: 0;
}

.me .a.twitter:hover:before {
  top: -100%;
}

#footers {
  height: 80px;
  background-color: #161A21;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: .8em;
  text-align: center;
}

@media screen and (min-width: 700px) {
  #abouts {
    height: 550px;
  }
  .about-container {
    height: 100%;
  }
  .me {
    width: 600px;
    margin-top: 0;
    margin-left: 50px;
  }
  .welcometxt {
    font-size: 2em;
    margin-left: 20px;
  }
  .navbar-toggle {
    display: none;
  }
  #navbar .navbar-menu,
  #navbar.opened .navbar-menu {
    visibility: visible;
    opacity: 1;
    position: static;
    display: block;
    height: 100%;
  }
  #navbar .navbar-links,
  #navbar.opened .navbar-links {
    margin: 0;
    padding: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    list-style-type: none;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
    width: 100%;
    height: 100%;
  }
  #navbar .navbar-link:last-child {
    margin-right: 0;
  }
}
/*# sourceMappingURL=style.css.map */